@charset "UTF-8";
/*----------------------------------
 general
----------------------------------*/
* {
  box-sizing: border-box;
}

/*
html {
  scroll-behavior: smooth;
}
*/
body {
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: #666;
}

a:active, a:visited {
  color: #666;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ol, ul, li, figure {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
}

/*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
smart phone display
繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
/* scss mixinn setting */
.container-sp-ex {
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 1.8px;
}

.container-sp-ex2 {
  max-width: 1300px;
  margin: 0 auto;
  letter-spacing: 1.8px;
}

.site-inner {
  width: 100%;
  overflow: hidden;
}

/* br setting */
.br-sp {
  display: block;
}

.br-tab {
  display: none;
}

.br-pc {
  display: none;
}

/* font awesome setting*/
.fa-chevron-right {
  display: none !important;
}

/*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
  animation setting sp
繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
h1 {
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}
h1.active {
  transform: translateY(0%);
}

article {
  opacity: 0;
  transition: all .7s ease-in-out .7s;
}
article.active {
  opacity: 1;
}

/*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
  sp-display
繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
.sidebar-title-sp, .recent, .category, .tag-menu, .search, .reccomend {
  margin-bottom: 2rem;
  border: 1px solid #F1F1F1;
  padding: 2rem 5% 0 5%;
  color: #0D0015;
  overflow: hidden;
}
.sidebar-title-sp h2, .recent h2, .category h2, .tag-menu h2, .search h2, .reccomend h2 {
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #0D0015;
}

/* heder pc */
header {
  position: relative;
  z-index: 10;
}
header .container {
  padding: 0 3%;
  font-family: 'Quicksand', sans-serif;
}
header .container h1 {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  padding: .6rem 0 1.3rem 0;
}
header .container h1 .title-green {
  color: #9acc1e;
}
header .container .nav-menu {
  display: none;
}

.hum-nav {
  display: inline-block;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4px;
  right: 3px;
  z-index: 100;
  transition: all 1s .7s;
}
.hum-nav span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 28px;
  background: #000;
  transition: all .3s ease-in-out;
  z-index: 100;
}
.hum-nav span:nth-of-type(1) {
  transform: translate(-50%, -8px);
}
.hum-nav span:nth-of-type(3) {
  transform: translate(-50%, 6px);
}
.hum-nav span:nth-of-type(2) {
  opacity: 1;
}
.hum-nav.active span:nth-of-type(2) {
  transform: translateX(-100%);
  opacity: 0;
}
.hum-nav.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}
.hum-nav.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}
.hum-nav.start {
  opacity: 1;
}

body.active {
  position: fixed;
}

.overlay-menu {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.6rem);
  transform: translateY(-100%);
  transition: all .5s ease;
  font-family: 'Quicksand', sans-serif;
}
.overlay-menu > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20% 15%;
}
.overlay-menu > ul > h2 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20%;
}
.overlay-menu > ul > li {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.overlay-menu > ul > li > a {
  display: block;
  width: 100%;
}
.overlay-menu > ul > li > a:before {
  content: '\25CF\0020';
  color: #9acc1e;
}
.overlay-menu.active {
  transform: translate(0%);
  z-index: 98;
}

main .container {
  padding: 0 4%;
}
main .container .main-flex {
  display: flex;
  flex-direction: column;
}
main .container .main-flex article {
  overflow: hidden;
  margin-right: 0;
}
main .container .main-flex article .main-sub-flex {
  display: flex;
  flex-flow: row wrap;
}
main .container .main-flex article .main-sub-flex .sub-items {
  margin: 0 10px 20px 5px;
  width: calc((100% - 20px) / 2);
  height: auto;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 8;
}
main .container .main-flex article .main-sub-flex .sub-items:nth-child(2n) {
  margin: 0 5px 20px 0;
}
main .container .main-flex article .main-sub-flex .sub-items img {
  width: 100%;
  height: auto;
}
main .container .main-flex article .main-sub-flex .sub-items .category-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: .6rem;
  padding: 5px 10px;
  border-radius: 30px;
  background: #9acc1e;
  letter-spacing: .5px;
  z-index: 9;
}
main .container .main-flex article .main-sub-flex .sub-items figcaption {
  padding: .7rem;
  text-align: justify;
}
main .container .main-flex article .main-sub-flex .sub-items figcaption p {
  min-height: 80px;
  font-size: .7rem;
  font-weight: bold;
}
main .container .main-flex article .main-sub-flex .sub-items figcaption time {
  display: block;
  font-size: .5rem;
  text-align: right;
  padding-top: 20px;
}
main .container .main-flex article .main-sub-flex .sub-items:hover {
  transform: translateY(-3%);
  box-shadow: 2px 2px 22px 1px rgba(0, 0, 0, 0.2);
}
main .container .main-flex article .pagination-top {
  text-align: center;
  margin: 1.2rem 0 0 0;
}
main .container .main-flex article .pagination-top li {
  display: inline-block;
}
main .container .main-flex article .pagination-top li a {
  display: block;
  padding: 8px 13px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 10px 7px 10px 0;
  transition: all .5s;
  transform: translateY(0);
}
main .container .main-flex article .pagination-top li a:nth-child(2) {
  margin-right: 0;
}
main .container .main-flex article .pagination-top li a:hover {
  transform: translateY(-5px);
  color: #fff;
  background: #9fa09e;
}
main .container .main-flex article .pagination-top li a:active, main .container .main-flex article .pagination-top li a:focus {
  background: #000;
  color: #fff;
}
main .container .main-flex .art-asi-line {
  display: block;
  margin: 0 auto;
  height: 2px;
  background: rgba(0, 0, 0, 0.35);
  width: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 4rem 0;
  color: #2b2b2b;
}
main .container .main-flex .art-asi-line::before, main .container .main-flex .art-asi-line::after {
  content: '\30FB\30FB\30FB';
  font-size: 1.1rem;
  color: #2b2b2b;
}
main .container .main-flex .art-asi-line::before {
  position: absolute;
  top: -12px;
  left: -60px;
}
main .container .main-flex .art-asi-line::after {
  position: absolute;
  top: -12px;
  left: 90px;
}
main .container .main-flex aside {
  flex: 1;
  /*wordpress templateJIN2*/
}
main .container .main-flex aside .wordpress-border-sp {
  padding: .8rem;
  margin-bottom: 2rem;
  border: 1px solid #F1F1F1;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin {
  border: 1px solid #F1F1F1;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-title {
  background: #000;
  color: #fff;
  text-align: center;
  padding: .7rem;
  font-size: 1.2rem;
  font-weight: normal;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept {
  padding: 20px 8% 0 8%;
  text-align: center;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept img {
  width: 100%;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept figcaption {
  font-size: 1.3em;
  text-align: justify;
  margin-top: 2rem;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3 {
  display: inline-block;
  background: #e22255;
  padding: 10px 18%;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  margin: 1.5rem 0;
  border-radius: 30px;
  border: double;
  transition: .5s;
}
main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3:hover {
  opacity: .7;
}
main .container .main-flex aside .wordpress-jin2 {
  margin-bottom: 2rem;
  border: 1px solid #F1F1F1;
}
main .container .main-flex aside .wordpress-jin2 .author {
  padding: 2rem 10% 0 10%;
  text-align: center;
}
main .container .main-flex aside .wordpress-jin2 .author img {
  width: 50%;
  border-radius: 50%;
}
main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(1) {
  font-size: .1rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.35);
}
main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(2) {
  text-align: justify;
  margin: 1.5rem 0;
  font-size: .8rem;
}
main .container .main-flex aside .wordpress-jin2 .author .more-button {
  display: inline-block;
  background: #aaa;
  padding: 5px 15%;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  margin: 0 0 1.5rem 0;
  border-radius: 30px;
  border: double;
  transition: .5s;
}
main .container .main-flex aside .wordpress-jin2 .author .more-button:hover {
  opacity: .7;
}
main .container .main-flex aside .wordpress-jin2 .sns-button-area {
  background: #9acc1e;
  padding: 15px 5%;
  color: #fff;
  text-align: center;
}
main .container .main-flex aside .wordpress-jin2 .sns-button-area > li {
  display: inline-block;
  margin-right: 15px;
}
main .container .main-flex aside .wordpress-jin2 .sns-button-area > li:last-child {
  margin-right: 0;
}
main .container .main-flex aside .wordpress-jin2 .sns-button-area > li p {
  font-size: .9rem;
  margin-bottom: .8rem;
}
main .container .main-flex aside .wordpress-jin2 .sns-button-area > li a {
  font-size: 1.5rem;
  color: #fff;
}

.recent-menu {
  margin: 2rem 0;
}
.recent-menu .recent-news {
  display: flex;
  margin-bottom: 1.3rem;
  transition: .3s;
}
.recent-menu .recent-news .recent-image {
  width: calc((100% - 10px - 55%));
  margin-right: 10px;
}
.recent-menu .recent-news .recent-image img {
  width: 100%;
  height: auto;
}
.recent-menu .recent-news figcaption {
  flex: 1;
  font-size: .8rem;
  text-align: justify;
}
.recent-menu .recent-news:hover {
  color: #e22255;
}

.category select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F1F1F1;
  margin: 1rem 0 2rem 0;
  width: 100%;
  font-size: 1rem;
  padding: .6rem;
  color: #888888;
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 15px 30px;
  background-position: right 10px center;
}
.category select::-ms-expand {
  display: none;
}

.tag-menu .tag-list {
  margin: 1rem 0 2.5rem 0;
}
.tag-menu .tag-list > li {
  font-size: .6rem;
  display: inline-block;
  margin-bottom: 8px;
}
.tag-menu .tag-list > li > a {
  display: block;
  padding: .3rem;
  color: #666;
  background: #F1F1F1;
  transition: all .3s;
}
.tag-menu .tag-list > li > a:hover {
  color: #fff;
  background: #666;
}

.search .search-form {
  margin: 1rem 0 2rem 0;
}
.search .search-form input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px 20px;
  border-radius: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 30px;
  background-position: right 10px center;
}
.search .search-form input:focus {
  outline: 0;
}

.reccomend a:hover figcaption {
  color: #e22255;
}
.reccomend .reccomend-flex {
  margin: 1rem 0 2rem 0;
  display: flex;
}
.reccomend .reccomend-flex .reccomend-image {
  width: calc(100% - 10px - 55%);
  margin-right: 10px;
}
.reccomend .reccomend-flex .reccomend-image img {
  width: 100%;
  height: auto;
}
.reccomend .reccomend-flex figcaption {
  flex: 1;
  text-align: justify;
  letter-spacing: 1px;
}

footer {
  background: #393542;
}
footer .container {
  padding: 2.5rem 1rem 0 1rem;
  color: #fff;
}
footer .container .footer-flex {
  display: flex;
  flex-direction: column;
}
footer .container .footer-flex .footer-item {
  width: 100%;
  overflow: hidden;
  margin-right: 3rem;
}
footer .container .footer-flex .footer-item h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 3px solid #9acc1e;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
}
footer .container .footer-flex .footer-item:last-child {
  margin: 0 0 4rem 0;
}

.footer-discription h2 {
  text-align: center;
  margin: .5rem 0 2.5rem 0;
}
.footer-discription img {
  width: 45%;
  height: auto;
}
.footer-discription p {
  margin-bottom: 1rem;
  font-size: .9rem;
  letter-spacing: 1.2px;
}
.footer-discription p:last-child {
  margin-bottom: 0;
}

.footer-download {
  text-align: center;
}
.footer-download h4 {
  display: inline-block;
  background: #e22255;
  padding: 10px 15%;
  color: #fff;
  font-size: .9rem;
  text-align: center;
  margin: 2rem 0 4rem 0;
  border-radius: 30px;
  transition: .5s;
  font-weight: normal;
}
.footer-download h4:hover {
  opacity: .7;
}

.footer-tag-list {
  margin: 1rem 0 2.5rem 0;
}
.footer-tag-list > li {
  font-size: .6rem;
  display: inline-block;
  margin-bottom: 8px;
}
.footer-tag-list > li > a {
  display: block;
  padding: .3rem;
  color: #fff;
  background: initial;
  transition: all .3s;
}
.footer-tag-list > li > a:hover {
  color: #fff;
  background: #000;
}

.footer-sub-item2 {
  display: flex;
  flex-flow: column;
}
.footer-sub-item2 ul {
  flex: 1;
  margin-bottom: 2rem;
}
.footer-sub-item2 ul:last-child {
  margin-right: 0;
}
.footer-sub-item2 ul > li {
  border-bottom: 1px solid #fff;
  padding: 0 0 .9rem .5rem;
  margin-bottom: .9rem;
}
.footer-sub-item2 ul > li > a {
  display: block;
  color: #fff;
  font-size: .9rem;
}
.footer-sub-item2 ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.post-flex {
  display: flex;
  color: #fff;
}
.post-flex .post-item {
  width: calc((100% - 1rem) - 60%);
  height: auto;
  position: relative;
  z-index: 7;
  margin: 0 1rem 1rem 0;
}
.post-flex .post-item img {
  width: 100%;
  height: auto;
}
.post-flex .post-item p {
  position: absolute;
  z-index: 7;
  background: #9acc1e;
  padding: 3px 5px;
  font-size: .6em;
  top: 0;
  left: 0;
}
.post-flex figcaption {
  width: 60%;
  font-size: .8rem;
  text-align: justify;
}

small {
  display: block;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  letter-spacing: 1.5px;
}

.top-button {
  background: #393542;
  position: fixed;
  z-index: 11;
  bottom: 15px;
  right: 15px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  border-radius: 50%;
}
.top-button .fa-chevron-up {
  padding: 12px;
  font-size: 1.1rem;
  color: #fff;
  transition: .3s;
}
.top-button .fa-chevron-up:hover {
  transform: translateY(-8%);
}

.top-button.active {
  opacity: 1;
  visibility: visible;
}

/*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
  tablret-display
繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
@media screen and (min-width: 768px) {
  h1 {
    opacity: 0;
    transform: translateY(6px);
    transition: all .7s ease-in-out;
  }
  h1.active {
    opacity: 1;
    transform: translateY(0);
  }

  article, aside {
    opacity: 0;
    transform: translateY(10px);
    transition: all .7s ease-in-out;
  }
  article.active, aside.active {
    opacity: 1;
    transform: translateY(0);
  }

  .header-nav {
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  .header-nav.active {
    opacity: 1;
  }

  .container-tab-ex, header .container, main .container, footer .container {
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 1.8px;
  }

  .container-tab-ex2 {
    max-width: 1300px;
    margin: 0 auto;
    letter-spacing: 1.8px;
  }

  .sidebar-title-tab, .recent, .category, .tag-menu, .search, .reccomend {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
    padding: 2rem 10% 0 10%;
    color: #0D0015;
    overflow: hidden;
  }
  .sidebar-title-tab h2, .recent h2, .category h2, .tag-menu h2, .search h2, .reccomend h2 {
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #0D0015;
  }

  /* br setting pc */
  .br-sp {
    display: none;
  }

  .br-tab {
    display: none;
  }

  .br-pc {
    display: block;
  }

  /* font awesome pc */
  .fa-chevron-circle-right {
    display: none !important;
  }

  .fa-chevron-right {
    display: inline-block !important;
  }

  /* heder pc */
  header .container {
    padding: 0 5%;
    font-family: 'Quicksand', sans-serif;
  }
  header .container h1 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    letter-spacing: 4px;
    margin: 4rem 0;
  }
  header .container h1 .title-green {
    color: #9acc1e;
  }
  header .container .nav-menu {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    margin: 0 auto;
    color: #0D0015;
  }
  header .container .nav-menu a {
    position: relative;
  }
  header .container .nav-menu a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 2px;
    background: #000;
    transition: all .5s;
    opacity: 0;
  }
  header .container .nav-menu a:hover::after {
    bottom: -10px;
    opacity: 1;
  }

  .hum-nav {
    display: none;
  }

  .overlay-menu {
    display: none;
  }

  main {
    margin: 4rem 0 0 0;
  }
  main .container {
    padding: 0 3%;
  }
  main .container .main-flex {
    display: flex;
    flex-direction: row;
  }
  main .container .main-flex article {
    flex: 2;
    overflow: hidden;
    margin-right: 30px;
  }
  main .container .main-flex article .main-sub-flex {
    display: flex;
    flex-flow: row wrap;
  }
  main .container .main-flex article .main-sub-flex .sub-items {
    margin: 0 20px 20px 5px;
    width: calc((100% - 30px) / 2);
    height: auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all .3s;
    transform: translateY(0);
  }
  main .container .main-flex article .main-sub-flex .sub-items:nth-child(2n) {
    margin-right: 5px;
    margin-left: 0;
  }
  main .container .main-flex article .main-sub-flex .sub-items img {
    width: 100%;
    height: auto;
  }
  main .container .main-flex article .main-sub-flex .sub-items .category-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: .6rem;
    padding: 5px 10px;
    border-radius: 30px;
    background: #9acc1e;
    letter-spacing: .5px;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption {
    padding: 1rem;
    text-align: justify;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption p {
    min-height: 80px;
    font-size: 1.1rem;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption time {
    display: block;
    font-size: .8rem;
    text-align: right;
    padding-top: 20px;
  }
  main .container .main-flex article .main-sub-flex .sub-items:hover {
    transform: translateY(-3%);
    box-shadow: 2px 2px 22px 1px rgba(0, 0, 0, 0.2);
  }
  main .container .main-flex article .pagination-top {
    text-align: center;
    margin-top: 1.8rem;
  }
  main .container .main-flex article .pagination-top li {
    display: inline-block;
  }
  main .container .main-flex article .pagination-top li a {
    display: block;
    padding: 8px 13px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 10px 7px 10px 0;
    transition: all .5s;
    transform: translateY(0);
  }
  main .container .main-flex article .pagination-top li a:nth-child(2) {
    margin-right: 0;
  }
  main .container .main-flex article .pagination-top li a:hover {
    transform: translateY(-5px);
    color: #fff;
    background: #9fa09e;
  }
  main .container .main-flex article .pagination-top li a:active, main .container .main-flex article .pagination-top li a:focus {
    background: #000;
    color: #fff;
  }
  main .container .main-flex .art-asi-line {
    display: none;
  }
  main .container .main-flex aside {
    flex: 1;
    /*wordpress templateJIN2*/
  }
  main .container .main-flex aside .wordpress-border-sp {
    border: none;
    padding: 0;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-title {
    background: #000;
    color: #fff;
    text-align: center;
    padding: .7rem;
    font-size: 1.2rem;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept {
    padding: 20px 7% 0 7%;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept img {
    width: calc(100% - 10%);
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept figcaption {
    font-size: initial;
    text-align: justify;
    margin-top: 1rem;
    font-size: .9rem;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3 {
    display: inline-block;
    background: #e22255;
    padding: 10px 20%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 1.5rem 0;
    border-radius: 30px;
    border: double;
    transition: .5s;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3:hover {
    opacity: .7;
  }
  main .container .main-flex aside .wordpress-jin2 {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
  }
  main .container .main-flex aside .wordpress-jin2 .author {
    padding: 2rem 10% 0 10%;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-jin2 .author img {
    width: 40%;
    border-radius: 50%;
  }
  main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(1) {
    font-size: .1rem;
    margin: 0 auto;
  }
  main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(2) {
    text-align: justify;
    margin: 1.5rem 0;
  }
  main .container .main-flex aside .wordpress-jin2 .author .more-button {
    display: inline-block;
    background: #aaa;
    padding: 5px 15%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
    border-radius: 30px;
    border: double;
    transition: .5s;
  }
  main .container .main-flex aside .wordpress-jin2 .author .more-button:hover {
    opacity: .7;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area {
    background: #9acc1e;
    padding: 15px 5%;
    color: #fff;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li {
    display: inline-block;
    margin-right: 15px;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li:last-child {
    margin-right: 0;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li p {
    font-size: .9rem;
    margin-bottom: .8rem;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li a {
    font-size: 1.5rem;
    color: #fff;
  }

  .recent-menu {
    margin: 2rem 0;
  }
  .recent-menu .recent-news {
    display: flex;
    margin-bottom: 1.3rem;
    transition: .3s;
  }
  .recent-menu .recent-news .recent-image {
    flex: 1;
    margin-right: 10px;
  }
  .recent-menu .recent-news .recent-image img {
    width: 100%;
    height: auto;
  }
  .recent-menu .recent-news figcaption {
    flex: 2;
    font-size: .8rem;
    text-align: justify;
  }
  .recent-menu .recent-news:hover {
    color: #e22255;
  }

  .category select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F1F1F1;
    margin: 1rem 0 2rem 0;
    width: 100%;
    font-size: 1rem;
    padding: .3rem;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 15px 30px;
    background-position: right 10px center;
  }
  .category select::-ms-expand {
    display: none;
  }

  .tag-menu .tag-list {
    margin: 1rem 0 2.5rem 0;
  }
  .tag-menu .tag-list > li {
    font-size: .6rem;
    display: inline-block;
    margin-bottom: 8px;
  }
  .tag-menu .tag-list > li > a {
    display: block;
    padding: .3rem;
    color: #666;
    background: #F1F1F1;
    transition: all .3s;
  }
  .tag-menu .tag-list > li > a:hover {
    color: #fff;
    background: #666;
  }

  .search .search-form {
    margin: 1rem 0 2rem 0;
  }
  .search .search-form input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px 20px;
    border-radius: 40px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 20px 30px;
    background-position: right 10px center;
  }
  .search .search-form input:focus {
    outline: 0;
  }

  .reccomend a:hover figcaption {
    color: #e22255;
  }
  .reccomend .reccomend-flex {
    margin: 1rem 0 2rem 0;
    display: flex;
  }
  .reccomend .reccomend-flex .reccomend-image {
    flex: 1;
    margin-right: 10px;
  }
  .reccomend .reccomend-flex .reccomend-image img {
    width: 100%;
    height: auto;
  }
  .reccomend .reccomend-flex figcaption {
    flex: 2;
    text-align: justify;
    letter-spacing: 1px;
  }

  footer {
    background: #393542;
  }
  footer .container {
    padding: 2.5rem 1.5rem 0 1.5rem;
    color: #fff;
  }
  footer .container .footer-flex {
    display: flex;
    flex-direction: row;
  }
  footer .container .footer-flex .footer-item {
    width: calc((100% - 3rem) / 3);
    overflow: hidden;
    margin-right: 3rem;
  }
  footer .container .footer-flex .footer-item h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    border-left: 3px solid #9acc1e;
    border-bottom: none;
    padding: 0 0 0 10px;
    letter-spacing: initial;
    margin-bottom: 1.2rem;
  }
  footer .container .footer-flex .footer-item:last-child {
    width: 38%;
    margin: 0;
  }

  .footer-discription h2 {
    text-align: center;
    margin: 1rem 0;
  }
  .footer-discription img {
    width: 60%;
    height: auto;
  }
  .footer-discription p {
    margin-bottom: 1rem;
    font-size: .9rem;
  }
  .footer-discription p:last-child {
    margin-bottom: 0;
  }

  .footer-download {
    text-align: center;
  }
  .footer-download h4 {
    display: inline-block;
    background: #e22255;
    padding: 10px 15%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 2rem 0 4rem 0;
    border-radius: 30px;
    transition: .5s;
    font-weight: normal;
  }
  .footer-download h4:hover {
    opacity: .7;
  }

  .footer-tag-list {
    margin: 1rem 0 2.5rem 0;
  }
  .footer-tag-list > li {
    font-size: .6rem;
    display: inline-block;
    margin-bottom: 8px;
  }
  .footer-tag-list > li > a {
    display: block;
    padding: .3rem;
    color: #fff;
    background: #666;
    transition: all .3s;
  }
  .footer-tag-list > li > a:hover {
    color: #fff;
    background: #000;
  }

  .footer-sub-item2 {
    display: flex;
    flex-flow: row wrap;
  }
  .footer-sub-item2 ul {
    flex: 1;
    margin: 0 3rem 2rem 0;
  }
  .footer-sub-item2 ul:last-child {
    margin-right: 0;
  }
  .footer-sub-item2 ul > li {
    border-bottom: none;
    padding: 0;
    margin-bottom: .9rem;
  }
  .footer-sub-item2 ul > li > a {
    display: block;
    color: #fff;
    transform: translateX(0);
    transition: all .3s;
    font-size: .7rem;
  }
  .footer-sub-item2 ul > li > a:hover {
    transform: translateX(5%);
  }

  .post-flex {
    display: flex;
    color: #fff;
    margin-bottom: 1rem;
  }
  .post-flex .post-item {
    width: calc((100% - .7rem) - 65%);
    height: auto;
    position: relative;
    margin: 0 .7rem 1rem 0;
  }
  .post-flex .post-item img {
    width: 100%;
    height: auto;
  }
  .post-flex .post-item p {
    position: absolute;
    background: #9acc1e;
    padding: 3px 5px;
    font-size: .6em;
    top: 0;
    left: 0;
  }
  .post-flex figcaption {
    width: 65%;
    font-size: .8rem;
    text-align: justify;
  }
}
/*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
  pc-display
繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  /*繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ
    load animation setting pc
  繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ繝ｼ*/
  h1 {
    opacity: 0;
    transform: translateY(10px);
    transition: all .7s ease-in-out;
  }
  h1.active {
    opacity: 1;
    transform: translateY(0);
  }

  article, aside {
    opacity: 0;
    transform: translateY(15px);
    transition: all .9s ease-in-out;
  }
  article.active, aside.active {
    opacity: 1;
    transform: translateY(0);
  }

  .header-nav {
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  .header-nav.active {
    opacity: 1;
  }

  .container-pc-ex, header .container, main .container, footer .container {
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 1.8px;
  }

  .container-pc-ex2 {
    max-width: 1300px;
    margin: 0 auto;
    letter-spacing: 1.8px;
  }

  .sidebar-title, .recent, .category, .tag-menu, .search, .reccomend {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
    padding: 2rem 10% 0 10%;
    color: #0D0015;
    overflow: hidden;
  }
  .sidebar-title h2, .recent h2, .category h2, .tag-menu h2, .search h2, .reccomend h2 {
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #0D0015;
  }

  /* br setting pc */
  .br-sp {
    display: none;
  }

  .br-tab {
    display: none;
  }

  .br-pc {
    display: block;
  }

  /* font awesome pc */
  .fa-chevron-circle-right {
    display: none !important;
  }

  .fa-chevron-right {
    display: inline-block !important;
  }

  /* heder pc */
  header .container {
    padding: 0 5%;
    font-family: 'Quicksand', sans-serif;
  }
  header .container h1 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    letter-spacing: 4px;
    margin: 4rem 0;
  }
  header .container h1 .title-green {
    color: #9acc1e;
  }
  header .container .nav-menu {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    color: #0D0015;
  }
  header .container .nav-menu a {
    position: relative;
  }
  header .container .nav-menu a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 2px;
    background: #000;
    transition: all .5s;
    opacity: 0;
  }
  header .container .nav-menu a:hover::after {
    bottom: -10px;
    opacity: 1;
  }

  .hum-nav {
    display: none;
  }

  .overlay-menu {
    display: none;
  }

  main {
    margin: 4rem 0;
  }
  main .container {
    padding: 0 3%;
  }
  main .container .main-flex {
    display: flex;
    flex-direction: row;
  }
  main .container .main-flex article {
    flex: 2;
    overflow: hidden;
    margin-right: 30px;
  }
  main .container .main-flex article .main-sub-flex {
    display: flex;
    flex-flow: row wrap;
  }
  main .container .main-flex article .main-sub-flex .sub-items {
    margin: 0 20px 20px 5px;
    width: calc((100% - 30px) / 2);
    height: auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all .3s;
    transform: translateY(0);
  }
  main .container .main-flex article .main-sub-flex .sub-items:nth-child(2n) {
    margin-right: 5px;
    margin-left: 0;
  }
  main .container .main-flex article .main-sub-flex .sub-items img {
    width: 100%;
    height: auto;
  }
  main .container .main-flex article .main-sub-flex .sub-items .category-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: .6rem;
    padding: 5px 10px;
    border-radius: 30px;
    background: #9acc1e;
    letter-spacing: .5px;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption {
    padding: 1rem;
    text-align: justify;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption p {
    min-height: 80px;
    font-size: 1.1rem;
  }
  main .container .main-flex article .main-sub-flex .sub-items figcaption time {
    display: block;
    font-size: .8rem;
    text-align: right;
    padding-top: 20px;
  }
  main .container .main-flex article .main-sub-flex .sub-items:hover {
    transform: translateY(-3%);
    box-shadow: 2px 2px 22px 1px rgba(0, 0, 0, 0.2);
  }
  main .container .main-flex article .pagination-top {
    text-align: center;
    margin-top: 1.8rem;
  }
  main .container .main-flex article .pagination-top li {
    display: inline-block;
  }
  main .container .main-flex article .pagination-top li a {
    display: block;
    padding: 8px 13px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 10px 7px 10px 0;
    transition: all .5s;
    transform: translateY(0);
  }
  main .container .main-flex article .pagination-top li a:nth-child(2) {
    margin-right: 0;
  }
  main .container .main-flex article .pagination-top li a:hover {
    transform: translateY(-5px);
    color: #fff;
    background: #9fa09e;
  }
  main .container .main-flex article .pagination-top li a:active, main .container .main-flex article .pagination-top li a:focus {
    background: #000;
    color: #fff;
  }
  main .container .main-flex .art-asi-line {
    display: none;
  }
  main .container .main-flex aside {
    flex: 1;
    /*wordpress templateJIN2*/
  }
  main .container .main-flex aside .wordpress-border-sp {
    border: none;
    padding: 0;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-title {
    background: #000;
    color: #fff;
    text-align: center;
    padding: .7rem;
    font-size: 1.2rem;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept {
    padding: 20px 7% 0 7%;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept img {
    width: calc(100% - 10%);
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept figcaption {
    font-size: initial;
    text-align: justify;
    margin-top: 1rem;
    font-size: .9rem;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3 {
    display: inline-block;
    background: #e22255;
    padding: 10px 20%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 1.5rem 0;
    border-radius: 30px;
    border: double;
    transition: .5s;
  }
  main .container .main-flex aside .wordpress-border-sp .wordpress-jin .theme-concept h3:hover {
    opacity: .7;
  }
  main .container .main-flex aside .wordpress-jin2 {
    margin-bottom: 2rem;
    border: 1px solid #F1F1F1;
  }
  main .container .main-flex aside .wordpress-jin2 .author {
    padding: 2rem 10% 0 10%;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-jin2 .author img {
    width: 40%;
    border-radius: 50%;
  }
  main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(1) {
    font-size: .1rem;
    margin: 0 auto;
  }
  main .container .main-flex aside .wordpress-jin2 .author figcaption p:nth-of-type(2) {
    text-align: justify;
    margin: 1.5rem 0;
  }
  main .container .main-flex aside .wordpress-jin2 .author .more-button {
    display: inline-block;
    background: #aaa;
    padding: 5px 15%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
    border-radius: 30px;
    border: double;
    transition: .5s;
  }
  main .container .main-flex aside .wordpress-jin2 .author .more-button:hover {
    opacity: .7;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area {
    background: #9acc1e;
    padding: 15px 5%;
    color: #fff;
    text-align: center;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li {
    display: inline-block;
    margin-right: 15px;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li:last-child {
    margin-right: 0;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li p {
    font-size: .9rem;
    margin-bottom: .8rem;
  }
  main .container .main-flex aside .wordpress-jin2 .sns-button-area > li a {
    font-size: 1.5rem;
    color: #fff;
  }

  .recent-menu {
    margin: 2rem 0;
  }
  .recent-menu .recent-news {
    display: flex;
    margin-bottom: 1.3rem;
    transition: .3s;
  }
  .recent-menu .recent-news .recent-image {
    flex: 1;
    margin-right: 10px;
  }
  .recent-menu .recent-news .recent-image img {
    width: 100%;
    height: auto;
  }
  .recent-menu .recent-news figcaption {
    flex: 2;
    font-size: .8rem;
    text-align: justify;
  }
  .recent-menu .recent-news:hover {
    color: #e22255;
  }

  .category select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F1F1F1;
    margin: 1rem 0 2rem 0;
    width: 100%;
    font-size: 1rem;
    padding: .3rem;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 15px 30px;
    background-position: right 10px center;
  }
  .category select::-ms-expand {
    display: none;
  }

  .tag-menu .tag-list {
    margin: 1rem 0 2.5rem 0;
  }
  .tag-menu .tag-list > li {
    font-size: .6rem;
    display: inline-block;
    margin-bottom: 8px;
  }
  .tag-menu .tag-list > li > a {
    display: block;
    padding: .3rem;
    color: #666;
    background: #F1F1F1;
    transition: all .3s;
  }
  .tag-menu .tag-list > li > a:hover {
    color: #fff;
    background: #666;
  }

  .search .search-form {
    margin: 1rem 0 2rem 0;
  }
  .search .search-form input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px 20px;
    border-radius: 40px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 20px 30px;
    background-position: right 10px center;
  }
  .search .search-form input:focus {
    outline: 0;
  }

  .reccomend a:hover figcaption {
    color: #e22255;
  }
  .reccomend .reccomend-flex {
    margin: 1rem 0 2rem 0;
    display: flex;
  }
  .reccomend .reccomend-flex .reccomend-image {
    flex: 1;
    margin-right: 10px;
  }
  .reccomend .reccomend-flex .reccomend-image img {
    width: 100%;
    height: auto;
  }
  .reccomend .reccomend-flex figcaption {
    flex: 2;
    text-align: justify;
    letter-spacing: 1px;
  }

  footer {
    background: #393542;
  }
  footer .container {
    padding: 2.5rem 2rem 0 2rem;
    color: #fff;
  }
  footer .container .footer-flex {
    display: flex;
    flex-direction: row;
  }
  footer .container .footer-flex .footer-item {
    width: calc((100% - 3rem) / 3);
    overflow: hidden;
    margin-right: 3rem;
  }
  footer .container .footer-flex .footer-item h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    border-left: 3px solid #9acc1e;
    border-bottom: none;
    padding: 0 0 0 10px;
    letter-spacing: initial;
    margin-bottom: 1.2rem;
  }
  footer .container .footer-flex .footer-item:last-child {
    width: calc((100% - 3rem) / 3);
    margin: 0;
  }

  .footer-discription h2 {
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  .footer-discription img {
    width: 35%;
    height: auto;
  }
  .footer-discription p {
    margin-bottom: 1rem;
    font-size: .9rem;
  }
  .footer-discription p:last-child {
    margin-bottom: 0;
  }

  .footer-download {
    text-align: center;
  }
  .footer-download h4 {
    display: inline-block;
    background: #e22255;
    padding: 10px 15%;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: 2rem 0 4rem 0;
    border-radius: 30px;
    transition: .5s;
    font-weight: normal;
  }
  .footer-download h4:hover {
    opacity: .7;
  }

  .footer-tag-list {
    margin: 1rem 0 2.5rem 0;
  }
  .footer-tag-list > li {
    font-size: .6rem;
    display: inline-block;
    margin-bottom: 8px;
  }
  .footer-tag-list > li > a {
    display: block;
    padding: .3rem;
    color: #fff;
    background: #666;
    transition: all .3s;
  }
  .footer-tag-list > li > a:hover {
    color: #fff;
    background: #000;
  }

  .footer-sub-item2 {
    display: flex;
    flex-flow: row wrap;
  }
  .footer-sub-item2 ul {
    flex: 1;
    margin: 0 3rem 2rem 0;
  }
  .footer-sub-item2 ul:last-child {
    margin-right: 0;
  }
  .footer-sub-item2 ul > li {
    border-bottom: none;
    padding: 0;
    margin-bottom: .9rem;
  }
  .footer-sub-item2 ul > li > a {
    display: block;
    color: #fff;
    transform: translateX(0);
    transition: all .3s;
    font-size: .7rem;
  }
  .footer-sub-item2 ul > li > a:hover {
    transform: translateX(5%);
  }

  .post-flex {
    display: flex;
    color: #fff;
    margin: 0;
  }
  .post-flex .post-item {
    width: calc((100% - 1rem) - 60%);
    height: auto;
    position: relative;
    margin: 0 1rem 1rem 0;
  }
  .post-flex .post-item img {
    width: 100%;
    height: auto;
  }
  .post-flex .post-item p {
    position: absolute;
    background: #9acc1e;
    padding: 3px 5px;
    font-size: .6em;
    top: 0;
    left: 0;
  }
  .post-flex figcaption {
    width: 60%;
    font-size: .8rem;
    text-align: justify;
  }

  small {
    display: block;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5px;
  }

  .top-button {
    background: #393542;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    border-radius: 50%;
  }
  .top-button .fa-chevron-up {
    padding: 12px;
    font-size: 25px;
    color: #fff;
    transition: .3s;
  }
  .top-button .fa-chevron-up:hover {
    transform: translateY(-8%);
  }

  .top-button.active {
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */
